@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

code,
pre,
body {
    font-family: "JetBrains Mono", monospace;
}

html{
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}
body{
    height: 100%;
    margin-right: 0px;
}

#rainbow{
    animation: rainbow 5s linear infinite;
}

@keyframes rainbow {
    0% {color:rgb(255, 0, 0);}
    16% {color:rgb(255, 255, 0);}
  32% {color:rgb(0, 255, 0);}
  48% {color:rgb(0, 255, 255);}
  64% {color:rgb(0, 0, 255);}
  82% {color:rgb(255, 0, 255);}
  100% {color:rgb(255, 0, 0);}
}

.spin {
    margin: 70px;
    width: 20%;
    animation: mymove 20s linear infinite;
}

.spin:hover{
    animation: mymove 0s linear infinite;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}

.whoami{
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    align-items: center;
}

main{
    display: flex;
    float: right;
    width: 60%;
    padding: 40px;
    min-height: 100vh;
    justify-content: center;
    background: radial-gradient(ellipse at bottom, #2b2b2b 0%, #1b1b1b 100%);
    border-radius: 15px 0px 0px 5px;
    color: white;
    border: black;
    border-style: solid;
    border-width: 1px;
}

footer {
    display: flex;
    height: 150px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

footer p {
    padding: 25px;
    color: white;
}

.social-buttons{
    display: flex;
    justify-content: center;
}

img{
    width: 50px;
    height: 50px;
}

header {
    position: absolute;
    width: 200px;
}

nav {
    position: absolute;
    top: 25vh;
}

nav ul li:hover{
      transition: 0.2;
}
nav ul li{
    width:180px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 180px;
  background-color: black;
}

nav ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.active1 {
  background-color: #337939;
}

nav ul li a:hover:not(.active1){
    background-color: #568c5b;
    color: white;
    transition: 0.2s;
}