/*//// Side wide changes ////*/

*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica", sans-serif;
}

html,body { height:100%; }


.background{
    background-color: #7ea881;
}



main{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding: 40px;
    min-height: 100vh;
    justify-content: center;
    background-color: white;
}

.whoami{
    display: flex;
    flex-direction: column;
    padding-top: 46px;
    align-items: center;
}
.whoami li {
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    align-items: center;
}

article ul {
    padding-top: 10px;
}

article li p{
    text-align: left;
    width: 100%;
}

article p{
    text-align: center;
    max-width: 750px;
}

article img{
    padding: 10px;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    padding: 20px;
}
/*//// Index page ////*/

.spin {
    margin: 50px;
    width: 20%;
    animation: mymove 20s linear infinite;
}

.spin:hover{
    animation: mymove 0s linear infinite;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}

/*//// Blog posts ////*/

.blog{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    height: 250px;
    margin: 10px;
    background-color: rgb(238, 238, 238);
}

.blogs{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.blogs hr{
    width: 50%
}

/*//// Header & Footer ////*/

header {
    position: fixed;
    width: 100%;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: lightgray;
}

footer p {
    float: right;
    padding: 5px
}

/*//// Navigation bar ////*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightgray;
  display: flex;
  justify-content: center;
}

nav ul li{
    float: left;
}

nav ul li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a.active1 {
  background-color: #46a14e;
}

nav ul li a:hover:not(.active1){
    background-color: #49704d;
    color: white;
}